#bgcg {
    background-color: whitesmoke;
}
h1{
    font-size: 50px;
}
#txtb {
    font-size: 25px;
}
/*#posun{
    margin-left: 10%;
}*/
#fot1{
    margin-left: 10%;
}
#fot2{
    margin-left: 10%;
}
#fot3{
    margin-left: 10%;
}